@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1 style="margin-top: 50px; margin-bottom: 25px;">Hakkımda</h1>
    <p>Educate Me Now by <strong>Barzan Aslan</strong></p>
    <p>Okul Numarası: 20231129071</p>
    <img style="border-radius: 10px;" src="/img/about-card.png" />
</div>
